<hr />
<div class="footer-container">
	<p>&copy; {% year %} Oliver's Portfolio.<br/>This is a static site built with Eleventy.<br/>This site is based on <a href="https://github.com/kinsta/11ty-portfolio">11ty-portfolio</a> template by <a href="https://github.com/olawanlejoel">olawanlejoel</a> and <a href="https://github.com/palmiak">palmiak</a>.<br/>Your data isn’t collected when using this site.</p>
	<div class="social_icons">
		<a
			href="https://oscarechobravo.itch.io/r"
			aria-label="itch"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-itch-io"></i>
		</a>
		<a
			href="https://twitter.com/bates_oliver"
			aria-label="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-twitter"></i>
		</a>
		<a
			href="https://github.com/oscarechobravo"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/batesoliver/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</div>
