<hr />
<div class="footer-container">
	<p>&copy; {% year %} Oliver's Portfolio</p>
	<div class="social_icons">
		<a
			href="https://twitter.com/bates_oliver"
			aria-label="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-twitter"></i>
		</a>
		<a
			href="https://github.com/oscarechobravo"
			aria-label="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-github"></i>
		</a>
		<a
			href="https://www.linkedin.com/in/batesoliver/"
			aria-label="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>
</div>
