<script>
    {% include "src/bundle.js" %}
</script>
<aside class="sidebar" id="sidebar">
  <a onclick="changeColor(this)" href="#publications" class="menu-item is-active">Publications</a>
  <a onclick="changeColor(this)" href="#talks" class="menu-item">Talks</a>
  <a onclick="changeColor(this)" href="#posters" class="menu-item">Posters</a>
  <a onclick="changeColor(this)" href="#thesis" class="menu-item">Thesis</a>
  <a onclick="changeColor(this)" href="#workshops" class="menu-item">Workshops</a>
</aside>