{% extends "layouts/base.njk" %}

{% block content %}
    <div class="project-layout">
        <h2>{{title}}</h2>
        <img src="{{image}}" alt="image" class="banner-img" />
        <!--Only add a link button if there's actually a url in var-->
        {% if gitHubURL.length %}
        <a href="{{gitHubURL}}" class="cta-btn pt-btn" target ="_blank">
            <div class="small-icons">
                Link <i class="fa-brands fa-github"></i>
            </div>
        </a>
        {% endif %}
        {% if URL.length %}
        <a href="{{URL}}" class="cta-btn pt-btn" target ="_blank">
            <div class="small-icons">
                Link <i class="fa-solid fa-link"></i>
            </div>
        </a>
        {% endif %}
        {{ content | safe }}
    </div>
{% endblock %}