---
layout: layouts/base.njk
title: About
---

<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
                As a researcher and designer I am looking at creating and critiquing digital systems in order to build more just and sustainable futures.  

                I think in systems

                I also do some web stuff 

                Oliver is a researcher, data juggler, and a designer. He's been using a mixture of research, data and design with commercial, charity and public organisations to design technology and systems for sustainable futures and a better future of work. He likes working closely with stakeholders, bringing tools to the table that encourage fun and critical thinking about futures, designing games that help articulate complexity of systems, and mentoring people through change. Oliver co-developed the Meal Deal game about gig economy courier work.

            </p>
            <p>Throughout my career, I have worked on a wide range of projects, from simple static websites to complex enterprise-level applications. I am experienced in working with a variety of development tools and frameworks, including React, Angular, Vue.js, Node.js, and Laravel. I am always eager to learn and explore new technologies, and I am constantly seeking out opportunities to improve my skills and knowledge.</p>
        </div>
        <div class="about-img">
            <Image src='/assets/about.jpeg' class="profile-img" alt="Oliver pretending to relax or have fun. Usually with a forced smile." />
        </div>
    </div>
</div>
