---
layout: layouts/base.njk
title: About
---

<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">

            <p>
                Oliver Bates is a design researcher, game designer, coder, and recovering data scientist. He is a Research Fellow in the School of Computing and Communications. Oliver’s work crosses many disciplines and topics, but he’s at his best when working in the context of climate futures and just work. His research reflects his passion for sustainability, systemic thinking, alternative futures, speculation, having fun, talking to people, and creativity. In his free moments he tries to host conversations that matter, play and have fun, and consciously live in the space between a dying system and what comes next.

                As a researcher and designer I am looking at creating and critiquing digital systems in order to build more just and sustainable futures. I am a researcher, data juggler, and a designer. I use a mixture of research, data, tech and design with commercial, charity and public organisations to design technology and systems for sustainable futures and a better future of work. He likes working closely with stakeholders, bringing tools to the table that encourage fun and critical thinking about futures, designing games that help articulate complexity of systems, and mentoring people through change.

            </p>
           <!-- <p>
                As a researcher and designer I am looking at creating and critiquing digital systems in order to build more just and sustainable futures. 

                Oliver is a researcher, data juggler, and a designer. He's been using a mixture of research, data and design with commercial, charity and public organisations to design technology and systems for sustainable futures and a better future of work. He likes working closely with stakeholders, bringing tools to the table that encourage fun and critical thinking about futures, designing games that help articulate complexity of systems, and mentoring people through change. 

            </p>
            <p>
                I’m a researcher, facilitator, and designer. I do a range of freelance, agency and academic research with government, commercial and charity clients. I’m passionate about putting users at the core of my work, exploring new methods and approaches to fit the brief, and designing for desirable and sustainable futures. I bring processes and approaches grounded in ethics, equitable design, responsible technology, and environmental sustainability. I am a passionate mentor, supervisor and reflexive practitioner. I am excited to deploy the best methods and tools that put users at the heart of services and help organisations get unstuck.
            </p>-->
        </div>
        <div class="about-img">
            <Image src='/assets/about.jpeg' class="profile-img" alt="Oliver pretending to relax or have fun. Usually with a forced smile." />
        </div>
    </div>
</div>
