---
layout: layouts/base.njk
title: .Plan
---

<div class="plan-container">
    <h2>{{title}}</h2>
    <div class="flex-plan">
        <div class="plan-text">
            <p>
                Taking inspiration from ben.kirman.org and wanting to maintain a list or plan of what I'm digesting and thinking about, here's my .plan.
            </p>
            <p>
                Last updated: 09/08/2024
            </p>
            <h3>Research</h3>
                <p>
                This is a plan
                </p>
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
                <p>
                This is after the plan
                </p>
                            <p>
                This is after after the plan
                </p>
                <h3>This is a new header</h3>
            </p>
        </div>
    </div>
</div>
