---
layout: layouts/base.njk
title: Words
---

<div class="posts-container">
    <h2>Words</h2>
    <div class="posts-grid">
        {% for posts in collections.posts %}
            <div class="post-card">
                <div class="post-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href={{post.data.gitHubURL}}><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <h3>{{post.data.title}}</h3>
                <p>{{post.data.description}}</p>
                <a href="{{post.url}}" class="cta-btn">Read more</a>
            </div>
        {% endfor %}
    </div>
</div>
